node_modules/
lib/
.env
*.tsbuildinfo
service-account.json
.gcloudignore
.secret.local

.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
service-account*.json
*serviceAccount*.json
credentials*.json
secrets*.json
*.pem
*.key
*.p12
*.pfx
